.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 62px;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;

  & span {
    color: #ececfb;
    font-size: 17px;
  }
}
