.progressBar {
  background-color: #e4229c;
  height: 100%;
  width: 70%;
}

.progressBarContainer {
  background-color: #e8eaf2;
  height: 4px;
  border-radius: 100px;
  width: 100%;
  overflow: hidden;
}
