.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.title {
  color: #f2f3f5;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  color: #c4c8cc;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
